@syntax-text-color: #3d4051;
@syntax-background-color: #151820;
@syntax-comment-color: #404755;
@syntax-keyword-color: #9845cc;
@syntax-string-color: #679b45;
@syntax-constant-color: #b36e33;
@syntax-variable-color: #c13f4a;
@syntax-tag-color: #c13f4a;
@syntax-attribute-color: #b36e33;
@syntax-class-color: #2f7ab8;
@syntax-function-color: #2f7ab8;
@syntax-operator-color: #2d8793;
@syntax-property-color: #c13f4a;
@syntax-gutter-text-color: #465573;
@syntax-gutter-background-color: #1a1e24;
@syntax-selection-color: #2d3240;
@syntax-cursor-color: #3570cc;
